* {
    background-color:lavender !important;   
}

a svg path {
    fill: rgb(169, 169, 255) !important;
}

p.text-sm {
    border: 5px double rgb(189, 118, 255);
    padding: 15px;
    border-radius: 32px;
}

h3.mt-0.mb-12 {
    text-size-adjust: 35pt !important;
    text-align: center;
    border: 3px groove #000;
    border-radius: 50px;
    padding: 12px;
}

p.m-0 {
    text-align: center;
}
